<div class="container">
  <div class="row">
    <div class="px-3 mx-auto">
      <h1>
        ようこそ
        <strong>FitnessGym</strong>
        サイトへ!
      </h1>
      <h5 class="text-center">はじめまして、タカキです。</h5>
      <div>
        <p class="text-center" style="margin-bottom: 20px;">
          <br>
          <br>
          今回初めて行ったポートフォリオ制作ではFitnessGymの<br>
          レビューサイトを作ってみました。<br>
          このプログラミングに触れるまではパソコンも<br>
          ほとんどつついたことがないような状態からのスタートだったので<br>
          多くの方に助けてもらいながら制作を進めました。<br>
        　<br>
        　<br>
        　なぜ今回このテーマでポートフォリオを作ったのかというと<br>
        　私の趣味が筋トレで(体は脂肪だらけですが)<br>
        　テーマ決めの際、筋トレをやっているのでこのテーマなら楽しく<br>
        　作れるんじゃないかと思ったのがきっかけです。<br> 
        　<br>
        　<br>
        　まだまだプログラミングに対する知識や理解が浅いので、何度も<br>
        　メンターの方々にアドバイスや解説などをいただきながらポート<br>
        　フォリオ制作を進めていきました。<br>
        　不出来な部分は多いかもしれませんが見ていただければ嬉しいです。<br>
        　<br>
        </p>
      </div>
      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
          <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
        </div>
        <div class="row">
          <a class="btn btn-info btn-sm btn-block mb-3 sign_in" href="/users/sign_in">Log in</a>
        </div>
        <div class="row">
          <a class="btn btn-success btn-sm btn-block mb-5 sign_up" href="/users/sign_up">Sign up</a>
        </div>
      </div>
    </div>
  </div>
</div>