<div class="container">
  <div class="row">
    <div class="px-3 mx-auto">
      <h1>
        ようこそ
        <strong>FitnessGym</strong>
        サイトへ!
      </h1>
      <h5 class="text-center">はじめまして、タカキです。</h5>
      <div>
        <p class="text-center" style="margin-bottom: 20px;">
          <br>
          <br>
          今回初めて行ったポートフォリオ制作ではFitnessGymの<br>
          レビューサイトを作ってみました。<br>
          このプログラミングに触れるまではパソコンも<br>
          ほとんどつついたことがないような状態からのスタートだったので<br>
          多くの方に助けてもらいながら制作を進めました。<br>
        　<br>
        　<br>
        　なぜ今回このテーマでポートフォリオを作ったのかというと<br>
        　私の趣味が筋トレで(体は脂肪だらけですが)<br>
        　テーマ決めの際、筋トレをやっているのでこのテーマなら楽しく<br>
        　作れるんじゃないかと思ったのがきっかけです。<br> 
        　<br>
        </p>
      </div>
    </div>
  </div>
</div>