<div class="container">
  <div class="row">
    <div class="px-3 mx-auto">
      <h1>
        自分に合ったジムを探しませんか
      </h1>
      <p>
        <br>
        ジムに通うか迷っている方や何か近場でいいところがないか<br>
        探している方などに利用してほしい思いながらこのサイトを作りました。<br>
        どうぞお気軽にご利用ください<br>
        下記は参考までに<br>
        <br>
        <strong>フィットネスクラブ</strong>
        とは<br>
        フィットネスクラブとは、トレーニングジムだけではなく、スタジオや室内プールなどの運動施設が<br>
        あり、会員に対して体力向上などのトレーニングや運動の機会を提供する場所のこと。<br>
        中には温泉やサウナ、日焼けマシーンを利用できるところもあります。<br>
        インストラクターやトレーナーが、トレーニングマシーンの使い方の指導やエクササイズ、ヨガなどのレッスンを行っています。<br>
        会員制を採用しているフィットネスクラブが多く、自分のペースで好きなときに利用できるでしょう。<br>
        <br>
        <strong>スポーツジム</strong>
        とは<br>
        スポーツジムでは、トレーニングマシーンや有酸素運動をするためのランニングマシーンなどが<br>
        あり、自分でメニューを考え、トレーニングや運動を行います。<br>
        24時間営業のスポーツジムも多く、仕事終わりや時間が空いたときなど、自分のペースで気軽に通うことが可能。<br>
        フィットネスジムなどに比べると比較的低価格でご利用いただけます。<br>
        <br>
        <strong>公益ジム</strong>
        とは<br>
        公益ジムとは、市区町村などの自治体が運営するジムです。<br>
        なんといっても、価格が安いことが特徴。<br>
        また月額制や年額制ではなく、使うときに都度支払う場合が多いため、無駄なくリーズナブルに利用できるでしょう。<br>
        自分のペースでトレーニングや運動が可能で、利用者は学生や主婦、高齢者が多く、ダイエットや生活習慣の改善など、通う目的もさまざまです。<br>
        その一方で、自治体が運営しているため、場所により規模や設備の充実度に大きな差があります。<br>
        中には、プールやスタジオが利用できるところもありますが、設備が少ないところの方が多いでしょう。<br>
        また基本的には日中しか営業しておらず、仕事終わりの夜に利用するなどは難しいでしょう。<br>
        <br>
        <strong>パーソナルジム</strong>
        とは<br>
        パーソナルジムでは、専属のパーソナルトレーナーが、個人の状況や目標に応じてマンツーマンで指導をしてくれます。<br>
        具体的には、各個人に合わせ、科学的根拠にもとづきトレーニングメニューの作成や実施の指導、食事管理など。<br>
        そのため、短期間で効率よく成果を出すことができます。<br>
        またジムによっては、プライベート空間で行うため、人の目を気にせずトレーニングを行うことができるでしょう。<br>
        ただ、その一方でフィットネスジムやスポーツジム、公益ジムと比べ価格が高くなります。<br>
        <br>
        これらを参考に選んでみてください！
      </p>

      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
          <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
        </div>
        <div class="row">
          <a class="btn btn-info btn-sm btn-block mb-3 sign_in" href="/users/sign_in">Log in</a>
        </div>
        <div class="row">
          <a class="btn btn-success btn-sm btn-block mb-5 sign_up" href="/users/sign_up">Sign up</a>
        </div>
      </div>
    </div>
  </div>
</div>
