<div class="row no-gutters">
  <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
    <h5 class="text-dark bg-light p-4 mb-0">プロフィール</h5>
    <div class="form-body p-4">
      <div>
        <%= image_tag @user.get_profile_image(100,100) %>
        <h3>name
          <%= @user.name %>
        </h3>
        <% unless @user.guest_user? %>
        <div class="row">
          <%= link_to "",edit_user_path(@user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{@user.id} mb-4 my-4" %>
        </div>
        <% end %>
        <% if @user == current_user %>
          <p><%= link_to "退会", users_unsubscribe_path(user_id: @user.id) %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>