<div class="row no-gutters">
  <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
    <h5 class="text-dark bg-light p-4 mb-0">退会画面</h5>
    <div class="form-body p-4">
      <% if user_signed_in? && @user == current_user %>
        <% unless @user.email == "test@example.com" then %>
          <div class="mt-3">
            <%= link_to "退会",user_path(current_user.id), class: "destroy-user", method: :delete, "data-confirm" => "本当に退会しますか？" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
